* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
}

window {
    background-color: transparent;
    border-radius: 10px;
}

button {
    background-color: rgb(30,30,60);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:focus,
button:active,
button:hover {
    background-color: rgb(48,48,96);
}

#exit {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/back.png"), url("/usr/share/wlogout/icons/reboot.png"));
}

#lock {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/sleep.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#reboot {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/restart.png"), url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/power.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

