* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    /* transition-duration: 0.7s; */
}

/* window {
    background-color: #11111b;
    border-radius: 10px;
} */

button {
    background-color: #11111b;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

/* button:active,
button:hover {
    background-color: #cdd6f4;
}

button:focus {
    background-color: #cdd6f4;
} */

#exit {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/back.png"), url("/usr/share/wlogout/icons/reboot.png"));
}

#exit:hover {
}

#lock {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#lock:hover {
}

#logout {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#logout:hover {
}

#suspend {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/sleep.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#suspend:hover {
}

#reboot {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/restart.png"), url("/usr/share/wlogout/icons/reboot.png"));
}

#reboot:hover {
}

#shutdown {
    background-image: image(url("/home/ricefarmer/.config/wlogout/icons/power.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#shutdown:hover {
}
